/* Common custom look and fill */

/* background for entry web-iface */
body {
    background: url("/media/madness/img/background-metal.gif") repeat-y fixed;
}

/*navbar logo*/

.navbar-header .pyload-logo .logo-img{
    max-width: 20px;
}

/*.navbar-header > .pyload-logo .pyload-text{*/
    /*font-size: 36px;*/
    /*color: #000000;*/
    /*font-family: sans-serif;*/
/*}*/

.navbar-item{
    /* запрещаем переносить содержимое на новую строку */
    display: inline-block;
}

.navbar-item > *{
    /*display: table-cell;*/
    vertical-align: middle;
}

.navbar-item > .icon{
    max-height: 20px;
    min-width: 30px;
    margin-right: 5px;
}

.navbar-item > .caret{
    margin-left: 5px;
}

.main-container{
    /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 1);
}

/*
 *  actions-control
 */

.actions-control.server-active, .server-status-info{
    background: #EEEEEE;
}

.actions-control{
    background: #FFFFB0;
    margin-bottom: 10px;
}

ul.controls-group{
    margin: 0; /* Обнуляем значение отступов */
    padding: 0px; /* Значение полей */
    display: flex;
}

ul.controls-group li.header{
    margin-right: auto;
}

ul.controls-group li{
    display: inline-flex; /* Отображать как строчный элемент */
    /*justify-content: center;*/
    margin-right: 5px; /* Отступ слева */
    /*border: 1px solid #000; *//* Рамка вокруг текста */
    padding: 5px; /* Поля вокруг текста */
    text-decoration: none;
    list-style: none;
    color: #808080;
}

/* HACK: bootstrap hides priv declaration for 'a' elem */
.actions-control .controls-group-item a{
    color: #808080;
    text-transform: uppercase;
}

.actions-control ul.controls-group li.controls-group-item:hover{
    background: #F0F066;
}

.actions-control.server-active ul.controls-group li.controls-group-item:hover{
    background: aliceblue;
}

.actions-control ul.controls-group li.controls-group-item:last-child{
    margin-right: 0px; /* Отступ слева */
}

.server-status-info .download-count-group .download-count,
.server-status-info .speed
{
    font-weight: 700;
    margin-right: 3px;
    margin-left: 3px;
    color: #000000;
}

/*
   Список элементов, которые разделены внутри промежутками
*/
.horisontal-spaced-container{
    display: flex;
}

.horisontal-spaced-container > *{
    margin-right: 5px;
}

.horisontal-spaced-container > *:last-child{
    margin-right: 0px;
}

/* глифы */
.glyphicon.abort,
.glyphicon.error,
.glyphicon.remove{
    color: red;
}

.glyphicon.accept{
    color: greenyellow;
}

.glyphicon.refresh{
    color: dodgerblue;
}
