.pyload-package{
    min-height: 50px;
    background: #ffffff;
    margin-bottom: 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.pyload-package > .header{
    padding: 10px;
    font-size: 21pt;
    display: flex;
    flex-direction: column;
}

.pyload-package > .files{
    border-top: solid #000000 1px;
}

.pyload-package > .header .name{
    margin-right: 15px;
}

.pyload-package .package-status{
    background: #E6E6E6;
    color: #999999;
    font-size: 21pt;
    padding-left: 5px;
    padding-right: 5px;
}

/* статус активных закачек пакета */
.pyload-package .stat-count > *{
    padding-left: 5px;
    padding-right: 5px;
}


.pyload-package .stat-count{
    align-self: center;
}

.pyload-package .stat-count .value{
    font-weight: lighter;
}

/* progress */
.pyload-package .stat-count.progress-item{
    background: #CFE2F6;
}

.pyload-package .stat-count.progress-item .glyphicon{
    color: #4DA1DE;
}

.pyload-package .stat-count.progress-item .count{
    color: #ffffff;
    background: #4DA1DE;
}

.pyload-package .progress-bar-item{
    align-items: stretch;
    font-size: 12pt;
}

.pyload-package .progress-bar-item .progress{
    flex-grow: 1;
    height: inherit;
}
/*------------------*/

/*  начало ... индикация активного статуса для всего пакета в целом */
.pyload-package.done .header{
    background: #F2FFE8;
}

.pyload-package.super-processing .header{
    background: #E3EBF4;
}

.pyload-package.super-waiting .header{
    background: #F3EEE2;
}

/*.pyload-package.super-error{*/
    /*background: #F0E5DF;*/
/*}*/

/*  конец ... индикация активного статуса для всего пакета в целом */

.pyload-package .value{
    color: #000000;
}

.pyload-package .delimiter{
    color: #999999;
}

.pyload-package .time .delimiter{
    margin-right: 0px;
    margin-left: 0px;
}

.package-control .btn-group .btn img{
    max-height: 20px;
}

/*
    with units item
*/

.with-units .units{
    color: #999999;
}

/*
  Restart items
*/

.package-control .package-restart .restart_all{
    color: dodgerblue;
}

.package-control .package-restart .restart_errors{
    color: red;
}

.package-control .package-restart .restart_errors_and_wait{
    color: darkorange;
}

.header:not(:hover) .aux-info{
    opacity: 0.2;
}

.pyload-package .progress-info .progress-quant{
    display: flex;
    justify-content: space-between;
    font-size: 14pt;
    color: #999999;
}

.pyload-package .progress-info .progress{
    margin-bottom: 0px;
}

/*
    Управление показом деталей для пакета
*/

.pyload-package .package-view-control{
    display: flex;
    transform: translateY(-100%);
}

.pyload-package .package-view-control > button{
    border: none;

    flex: 1;
    background: #3FA9F5;
    color: #ffffff;
    font-size: 21pt;
}

.pyload-package .package-view-control > button:hover{
    background: #2E7BB3;
}

.pyload-package .package-view-control > button.toggled{
    background: #2E7BB3;
}

/* Показ кнопок отображения файлов и деталей пакета по наведению указателя мыши на пакет */
.pyload-package:not(:hover) .package-view-control-outer{
    display: none;
}

/* multi level hover */
.level_1 {
    width: 100%;
    float: left;
    position:relative;
}

.level_2 {
    position: absolute;
    width: 100%;
}

/*
    links
*/
.pyload-package tr.super-finished .status-icon{
    color: #99FF99;
}

.pyload-package tr.super-error .status-icon{
    color: #FF5C8A;
}

.pyload-package tr.super-waiting .status-icon{
    color: #F77C1E;
}

.pyload-package tr.super-queue .status-icon{
    color: #93278F;
}

.pyload-package tr.super-processing .status-icon{
    color: #3FA9F5;
}

.pyload-package tr .units{
    color: #999999;
    /*margin-left: 5px;*/
}

.info-text .progress-proc{
    margin-right: 5px;
}

.info-text .value{
    font-weight: bold;
}

/*
   package details
*/
.pyload-package .package-details{
    font-size: 14pt;
    width: 100%;
}


.pyload-package .package-details .form-group{
    margin-bottom: 2px; /* устраняем слишком большие интервалы между рядами, но оставляем зазор для тени */
}

.pyload-package .package-details .form-group .form-control{
    border: solid transparent;
    border-width: 1px 1px 1px 3px;
    box-shadow: none;
    /*padding-left: 0;*/
    border-radius: 0;
}

/* для статичных полей делаем отступ на величену margin- padding- form-control */
.pyload-package .package-details .form-group .form-control-static{
    margin-left: 15px;
}

/* Выделяем элементы ввода когда указатель мыши находится над формой ввода деталей */
.pyload-package .package-details:hover .form-group .form-control{
    border-left-color: cornflowerblue;
    /*padding-left: 10px;*/
}

/* выделяем визуально элемент ввода который захватил фокус упралвения */
.pyload-package .package-details .form-group .form-control:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.375) inset;
}

/* выделяем визуально элемент ввода который захватил фокус упралвения */
.pyload-package .package-details .form-group .form-control:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.pyload-package .package-details .form-group .control-label{
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #999999;
}

/* скрываем иконку редактирования для айдишника пакета но так чтобы из потока она не исчезла */
.pyload-package .package-details .form-group .control-label span.glyphicon.hid{
    visibility: hidden;
}

.pyload-package .package-details .form-group .control-label .edit-marker{
    opacity: 0.3;
}

/* при наведении на строку ввода подсвечиваем иконку */
.pyload-package .package-details .form-group:hover .control-label .edit-marker{
    opacity: 1;
    color: #000000;
}

.pyload-package .package-details .form-group .control-label .horisontal-spaced-container{
    align-items: center;
    justify-content: flex-end;
}

.form-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #E5E5E5;
}

.form-footer .btn + .btn {
    margin-bottom: 0px;
    margin-left: 5px;
}

/* Кнопки в пакете и ссылках*/
.package-control{
    font-size: 14px;
}