/*
Стили для спсика файлов в пакете при их отображениив просмотре пакета и в формах создания/редактирования пакета
*/


.pyload-package > .files{
    min-height: 50px;
    table-layout: fixed;
}

/* установка жёстких размеров колонок и элементах в них*/
.pyload-package .files col.id{
    width: 45px;
}

.pyload-package .files col.name{
    width: 400px;
}

.pyload-package .files col.column-info{
    width: 350px;
}

.pyload-package .files .info-data div.btn-group{
    display: inline-flex;
}



/*сокрытие*/
.pyload-package .files tr:not(:hover) .info-data .btn-group{
    display: none;
}

.pyload-package .files .status-data{
    white-space:nowrap;
}

.pyload-package .files .status-data > *:not(:last-child){
    margin-right: 5px;
}

/*
Установка цветов добавленных, дублирующих и тп файлов в формах добавления
*/
.parsed_links tr.isnew{
    background: #9acfea;
}

.parsed_links tr.isdoubling{
    background: #f7e1b5;
}

/* установка поля редактирования определённой ссылки */
td.editinglink > div{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

td.editinglink > div > input{
    width: 100%;
}

/* установка серого цвета для файлов с именем */
span.withurl{
    color: #c0c0c0;
}

span.withurl .name{
    color: #000000;
}