{% extends 'madness/html5bp.html' %}

{% block head %}
{{ super() }}
<link href="/media/madness/css/sticky-footer-navbar.css" rel="stylesheet">

<link href="/media/madness/css/package.css" rel="stylesheet">
<link href="/media/madness/css/package-files.css" rel="stylesheet">
<link href="/media/madness/css/text_withbuttons.css" rel="stylesheet">


<script src="/media/madness/vendor/react-0.11.0/react-with-addons.js"></script>
<script src="/media/madness/vendor/react-0.11.0/JSXTransformer.js"></script>

<!--<script src="/media/madness/vendor/require-2.1.14/require.js"></script>-->


<script type="text/jsx" src="/media/madness/js/base/base.jsx.js"></script>
<script type="text/jsx" src="/media/madness/js/base/package_ui.jsx.js"></script>
<script type="text/jsx" src="/media/madness/js/base/captcha-service.jsx.js"></script>
{% endblock %}

{% block content %}
<script src="/media/madness/vendor/async-0.9.0/lib/async.js"></script>
<script src="/media/madness/vendor/underscore-1.6.0/underscore.js"></script>
<script src="/media/madness/vendor/Momentjs-2.8.4/moment.js"></script>
<script src="/media/madness/vendor/bootstrap-growl-1.1.0/jquery.bootstrap-growl.js"></script>
<script src="/media/madness/js/base/base-logic.js"></script>
<script src="/media/madness/js/base/confirmation-modal-logic.js"></script>
<script src="/media/madness/js/base/captcha-logic.js"></script>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar"></div>
<div class="container main-container" id="body-container">
    <div id="actions-control"></div>
    {% block header%}
    <h1 class="page-header">{% block subtitle %}pyLoad - {{_("Webinterface")}}{% endblock %}</h1>
    {% endblock %}

    {% block container_content %}
    {% endblock %}
</div>

{% include "madness/add_package_window.html" %}
{% include "madness/edit_package_window.html" %}
{% include "madness/confirmation-modal.html" %}
{% include "madness/captcha_modal.html" %}

<div style="display: none;">
    {# {% include "default/captcha.html" %} #}
    {% block hidden %}
    {% endblock %}
</div>

{% macro selected(name) -%}
    {% if (name in url) or (name=='home' and isroot)  -%}
        true
    {%else%}
        false
    {%- endif %}
{%- endmacro %}

<script>
var actionsList=[
        {
            active: false,
            link: "#",
            action: 'play',
            icon: "/media/madness/img/play26.svg",
            content: '{{_("Start")}}'
        },
        {
            active: false,
            link: "#",
            action: 'stop',
            icon: "/media/madness/img/stop8.svg",
            content: '{{_("Stop")}}'
        },
        {
            active: false,
            link: "#",
            action: 'cancel',
            icon: "/media/madness/img/x2.svg",
            content: '{{_("Cancel")}}'
        },
        {
            active: false,
            link: "#",
            action: 'add',
            icon: "/media/madness/img/download61.svg",
            content: '{{_("Add")}}'
        }
];
var mainItems=[
    {
        active: {{ selected('home') }},
        icon: "/media/madness/img/dwelling1.svg",
        content: '{{_("Home")}}',
        link: "/"
    },
    {
        active: {{ selected('queue') }},
        link: "/queue/",
        icon: "/media/madness/img/chronometer5.svg",
        content: '{{_("Queue")}}'
    },
    {
        active: {{ selected('collector') }},
        link: "/collector/",
        icon: "/media/madness/img/listing1.svg",
        content: '{{_("Collector")}}'
    },
    {
        active: {{ selected('downloads') }},
        link: "/downloads/",
        icon: "/media/madness/img/download60.svg",
        content: '{{_("Downloads")}}'
    },
    {
        active: false,
        link: "#",
        icon: null,
        content: 'Действия',
        action: 'actions',
        items: actionsList
    }
]

// aux items
var auxItems=[
    {
        active: false,
        icon: "/media/madness/img/male18.svg",
        content: '{{user.name}}',
        items :[
            {
                active: false,
                icon: "/media/madness/img/enter3.svg",
                content: '{{_("Logout")}}',
                link: "/logout"
            },
            {
                active: false,
                icon: "/media/madness/img/male66.svg",
                content: '{{_("Administrate")}}',
                link: "/admin"
            },
            {
                active: false,
                icon: "/media/madness/img/information38.svg",
                content: '{{_("Info")}}',
                link: "/info"
            }
        ]
    },
    {
        active: {{ selected('logs') }},
        icon: "/media/madness/img/seo2.svg",
        content: '{{_("Logs")}}',
        link: "/logs/"
    },
    {
        active: {{ selected('settings') }},
        icon: "/media/madness/img/setting.svg",
        content: '{{_("Config")}}',
        link: "/settings/"
    },
]
</script>

<script type="text/jsx">
/** @jsx React.DOM */

function subscribeOnActionClick(elem){
    return function(){
        $("[rel=tooltip]", $(elem)).tooltip();
        //$(elem).find('.action').click(onActionClick);
    };
}
React.renderComponent(<BasepageHeader /> ,document.getElementById('navbar'),
            subscribeOnActionClick($('#navbar')));
</script>

<script type="text/jsx">
/** @jsx React.DOM */
// localisation
var serverStatusl18n={
    'download': '{{_("Download:")}}',
    'reconnect': '{{_("Reconnect:")}}',
    'speed': '{{_("Speed:")}}',
    'active': '{{_("Active:")}}',
    'queued': '{{_("Queued:")}}',
    'total': '{{_("Total:")}}'
}

React.renderComponent(<ServerStatusControl pollInterval={2000} url='/json/status' l18n={serverStatusl18n}/> ,
        $('#actions-control').get(0), subscribeOnActionClick($('#actions-control')));
</script>
{% endblock %}