{% extends 'madness/html5bp.html' %}

{% block head %}
<link href="media/madness/css/sticky-footer-navbar.css" rel="stylesheet">
<script src="media/madness/vendor/react-0.11.0/react.js"></script>
<script src="media/madness/vendor/react-0.11.0/JSXTransformer.js"></script>
{% endblock %}

{% block content %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar"></div>
<div class="container"></div>

<script type="text/jsx">
/** @jsx React.DOM */

var MenuItem = React.createClass({
  render: function() {
    return (
        <li className={this.props.isactive ? 'active' : ''} >
            <a href={this.props.link} >
                <div className="navbar-item">
                    <img src={this.props.icon} className="icon"/>
                    <span className="text">{this.props.text}</span>
                </div>
            </a>
        </li>
    );
  }
});

var Menu = React.createClass({
    render: function(){
        var convertedNodes=[];

        this.props.items.forEach(function(item){
            convertedNodes.push(<MenuItem
                isactive={item.active}
                icon={item.icon}
                text={item.text}
                link={item.link}
            />);
        });

        return (<ul className={this.props.isright == 'true' ? "nav navbar-nav navbar-right" : "nav navbar-nav" }>
                    {convertedNodes}
                </ul>);
    }
});

var mainItems=[
    {
        active: true,
        icon: "media/madness/img/dwelling1.svg",
        text: '{{_("Home")}}',
        link: "/"
    },
    {
        active: false,
        link: "/queue/",
        icon: "media/madness/img/chronometer5.svg",
        text: '{{_("Queue")}}'
    },
    {
        active: false,
        link: "/collector/",
        icon: "media/madness/img/listing1.svg",
        text: '{{_("Collector")}}'
    },
    {
        active: false,
        link: "/downloads/",
        icon: "media/madness/img/download60.svg",
        text: '{{_("Downloads")}}'
    },
]

// aux items
var auxItems=[
    {
        active: false,
        icon: "media/madness/img/seo2.svg",
        text: '{{_("Logs")}}',
        link: "/logs/"
    },
    {
        active: false,
        icon: "media/madness/img/setting.svg",
        text: '{{_("Config")}}',
        link: "/settings/"
    },
]

var indiv = React.createClass({
    render: function(){
        return (
            <div className="container">
                <div className="navbar-header">
                    <a href="#" className="navbar-brand">
                        <div className="pyload-logo">
                            <img src="media/madness/img/pyloadlogo-01.svg" className="logo-img"></img>
                            <span className="pyload-text">pyLoad</span>
                        </div>
                    </a>
                    <button type="button" className="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span className="icon-bar"></span>
                        <span className="icon-bar"></span>
                        <span className="icon-bar"></span>
                    </button>
                </div>
                <div className="navbar-collapse collapse in">
                    <Menu items={mainItems} isright='false'/>
                    <Menu items={auxItems} isright='true'/>
                </div>
            </div>
            );
    }
});


React.renderComponent(<indiv/> ,document.getElementById('navbar'));

</script>
{% endblock %}