{% extends 'madness/base.html' %}
{% block title %}{{ _("Logs") }} - {{ super() }} {% endblock %}
{% block header%}{% endblock %}

{% block head %}
{{ super() }}
<!--<script type="text/jsx" src="/media/madness/js/config/config-logic.js"></script>-->
<script type="text/jsx" src="/media/madness/js/log/log.jsx"></script>
<link rel="stylesheet" href="/media/madness/css/log.css">
{% endblock %}

{% block container_content %}
<div id="log-view"></div>

<script type="text/jsx">
/** @jsx React.DOM */
React.renderComponent(<PyLoadLog/>, $('#log-view').get(0));
</script>

{% endblock %}
