{% extends 'madness/html5bp.html' %}

{% block head %}
{{ super() }}
<script src="/media/madness/vendor/react-0.11.0/react-with-addons.js"></script>
<script src="/media/madness/vendor/react-0.11.0/JSXTransformer.js"></script>

<script type="text/jsx" src="/media/madness/js/base/base.jsx.js"></script>
<script type="text/jsx" src="/media/madness/js/base/package_ui.jsx.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add_package_modal">
  Launch demo modal
</button>
{% include "madness/window.html" %}
{% endblock %}

