{% extends 'madness/BaseModalWindow.html' %}

{% block modal_id %}add_package_modal{% endblock %}
{% block action_url %}/json/add_package{% endblock %}

{% block modal_form_attrs %}data-tune-inputs-method='OnAddPackageTuneInputs'{% endblock %}

{% block modal_title %}{{_("Add Package")}}{% endblock %}

{% block modal_aftertitle %}
    <p class="help-block">{{_("Paste your links or upload a container.")}}</p>
{% endblock %}

{% block body %}
    <div class="form-group">
        <label for="add_name">{{_("The name of the new package.")}}</label>
        <input type="text"
               required="true"
               class="form-control"
               name="add_name"
               autocomplete="off"
               id="add_name" placeholder='{{_("Name")}}'/>
    </div>

    <div class="form-group">
        <label for="add_package_links_aria">{{_("Links")}}</label>
        <p class="help-block">
            {{_("Paste your links here or any text and press the filter button.")}}
        </p>
        <div id="add_package_links_aria"></div>
    </div>

    <div class="form-group">
        <label for="add_password">{{_("Password")}}</label>
        <input type="text"
               class="form-control"
               name="add_password"
               id="add_password" placeholder='{{_("Password for RAR-Archive")}}'/>
    </div>


    <div class="form-group">
        <label for="add_file">{{_("File")}}</label>
        <p class="help-block">{{_("Upload a container.")}}</p>

        <input type="file" name="add_file" id="add_file"/>
    </div>
{% endblock %}

{% block footer %}
    <button type="reset" class="btn btn-default" data-dismiss="modal">{{_("Reset")}}</button>
    <button type="submit" class="btn btn-default" name="dst" value="collector">{{_("Add Package to collector")}}</button>
    <button type="submit" class="btn btn-primary" name="dst" value="queue">{{_("Add Package to queue")}}</button>
{% endblock %}

{% block after_modal %}
<script type="text/jsx">
/** @jsx React.DOM */

var links_l18n={
    links: '{{_("Links")}}'
}


React.renderComponent(
    <LinksInputElement linkParseUrl='/json/parse_urls' l18n={links_l18n}/>,
    $('#add_package_links_aria').get(0));

</script>
{% endblock %}